@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply bg-black font-mono text-neutral-300;
}

.el1 {
  @apply border border-neutral-800/25 bg-black/40 outline-none backdrop-blur-xl hover:text-neutral-100 focus:text-neutral-100 md:bg-[#161618];
}

.crt::before {
  content: " ";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: linear-gradient(rgba(18, 16, 16, 0) 50%, rgba(0, 0, 0, 0.25) 50%),
    linear-gradient(
      90deg,
      rgba(255, 0, 0, 0.06),
      rgba(0, 255, 0, 0.02),
      rgba(0, 0, 255, 0.06)
    );
  z-index: 5;
  background-size: 100% 2px, 3px 100%;
  pointer-events: none;
}
